<h1>Listing operations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.name %></td>
        <td><%= operation.value %></td>
        <td><%= link_to 'Show', account_operations_path %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_account_operation_path %>
